.c-audio-banner {
    display: flex;
    transition:
        transform 0.4s ease,
        display 0.1s ease 0.4s;
    transition-behavior: allow-discrete;
    transform: translateY(0);

    &--hidden {
        display: none;
        // animation-name: hide;
        // animation-duration: 0.4s;
        // animation-timing-function: ease;
        // animation-iteration-count: 1;
        transform: translateY(-100%);
    }

    // @keyframes hide {
    //     0% {
    //         display: flex;
    //         transform: translateY(0);
    //     }

    //     100% {
    //         display: none;
    //         transform: translateY(-100%);
    //     }
    // }
}
