@reference "../../../app/globals.css";

@mixin track-styles {
    @apply bg-stone-500 dark:bg-white;

    height: 2px;
    cursor: pointer;
}

@mixin thumb-styles {
    @apply bg-amber-900 dark:bg-orange-300 shadow-md;

    width: 6px;
    height: 15px;
    border-radius: 2px;
    margin-top: -7px;
    cursor: pointer;
}

.cAudioPlayer {
    &__scrubber {
        border: 1px solid green;
        min-width: 0;
        -webkit-appearance: none;
        appearance: none;

        // moz and webkit selectors must be separate; they do not  work if comma-separated
        &::-moz-range-track {
            @include track-styles;
        }

        &::-webkit-slider-runnable-track {
            @include track-styles;
        }

        &::-moz-range-thumb {
            @include thumb-styles;
            appearance: none;
        }

        &::-webkit-slider-thumb {
            @include thumb-styles;
            -webkit-appearance: none;
            appearance: none;
        }
    }
}
